.card {
  margin-top: 10%;
}

.cardElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cardElements > * {
  margin-top: 3%;
}
